* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white
}

hr {
    border: none;
    height: 1px;
    background-color: #1E293B;
}

button,
a {
    cursor: pointer;
    text-decoration: none;
}

.fondo-nav {
    background-color: white;
    height: 70px;
    width: 100%;
}

header {
    width: 100%;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-between;
}

.nav {

    display: flex;
    width: 50%;
    height: 70px;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}

.btn-nav {
    background-color: #FCBF83;
    border-radius: 20px;
    padding: 10px 10px;
    border: none;
    margin-right: 5%;
    font-size: 18px;
}

.btn-nav:hover {
    transform: scale(0.9);
    color: white;
    box-shadow: 0 3px 5px gray;
}

.icon-nav {
    color: #FCBF83;
    font-size: 35px;
}

.titulo-nav {
    color: #FCBF83;
    font-size: 35px;
    margin-left: 5%;
}

.enlaces-nav {
    display: flex;
    gap: 15px;
}

.enlaces-nav a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 3px 5px;

}

.enlaces-nav a:hover {
    background-color: #FCBF83;
    border-radius: 20px;
    padding: 3px 5px;


}

.img {
    width: 100%;
    height: 650px;

    background:
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("/img/img-fondo1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img p,
.img h2 {
    margin-left: 50px;
}

.img .p-1 {
    background-color: #FCBF83;
    max-width: 190px;
    border-radius: 8px;
    padding: 3px 6px;
    margin-bottom: 50px;
}

.img .p-2 {
    max-width: 700px;
    color: whitesmoke;
    font-size: 30px;
}

.img h2 {
    color: white;
    font-size: 70px;
}


.img .h2-2 {
    color: #FCBF83;
    margin-bottom: 20px;
}

.cont-btn-main {
    margin-top: 50px;
    display: flex;
    gap: 70px;
    margin-left: 50px;
}

.img button {
    display: inline;
    max-width: 150px;
    background-color: #FCBF83;
    border: none;
    border-radius: 30px;
    padding: 20px 20px;
    font-size: 15px;
}

.img button:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 2px white;
}

.img .btn-2 {
    background-color: white;
}

.img .btn-2:hover {
    box-shadow: 0 4px 2px #FCBF83;
}

footer {
    width: 100%;
    background-color: #020617;
}

.cont-principal .cont-nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    margin-bottom: 20px;
}

.cont-nav a {
    color: white;
}

footer .cont-principal {
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.cont-logo {
    width: 25%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cont-logo p,
.cont-nav a,
.cont-contacto span {
    color: #94A3B8;
}

.cont-logo span {
    color: #FCBF83;
    font-size: 30px;
    align-self: center;
}

.cont-contacto {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cont-redes {
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cont-redes span a {
    margin-right: 10px;
}

.icon-redes {
    color: white;
}

.cont-derechAutor {
    width: 100%;
    height: 50px;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.cont-derechAutor span {
    margin: 20px 30px;
    font-size: 12px;
    color: #94A3B8;
}

.cont-destacadas {
    background-color: white;
}

.cont-destacadas .titulo-principal,
.cont-destacadas .parrafo-principal {
    text-align: center;
    padding-top: 50px;
}

.cont-destacadas .titulo-principal {
    font-size: 46px;
}

.cont-destacadas .parrafo-principal {
    max-width: 718px;
    margin: 0 auto;
    font-size: 28px;
    line-height: 28px;
    color: #565D6DFF;
}

.cont-tarjetas {
    margin-top: 100px;
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 40px;
    padding-bottom: 50px;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex;
    width: 300px;
    height: 400px;
    background-color: white;
    padding: 0 20px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px black;
    row-gap: 30px;

}

.tarjeta:hover {
    transform: scale(0.95);
}

.tarjeta h2 {
    font-size: 30px;
}

.tarjeta p {
    font-size: 20px;
    color: #565D6DFF;
}

.tarjeta span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background-color: #FFF7F0FF;
}

.tarjeta span i {
    font-size: 40px;
}

.cont-img {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 570px;
}

.cont-imgs {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.cont-carrusel .img-4 {
    width: 275px;
    height: 570px;
    background-image: url("/img/img-dog4.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

.cont-carrusel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: whitesmoke;
    padding-bottom: 50px;
}

.cont-carrusel h2 {
    padding-top: 30px;
    font-size: 46px;
    text-align: center;
}

.cont-carrusel p {
    font-size: 28px;
    color: #565D6DFF;
    text-align: center;
}

.cont-carrusel .img-1 {
    width: 275px;
    height: 570px;
    background-image: url("/img/img-dog1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

.cont-carrusel .img-2 {
    width: 275px;
    height: 275px;
    animation: carrusel-img2 5s linear infinite;
    animation-direction: alternate;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.cont-carrusel .img-3 {
    width: 275px;
    height: 275px;
    animation: carrusel-img3 5s linear infinite;
    animation-direction: alternate;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.testimonios {
    width: 100%;
    background-color: white;
    padding: 40px 0;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 20px;
}

.cont-tarjeta-test {
    width: 371px;
    height: 283px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #FFF7F080;
    border-radius: 16px;
    gap: 55px;
}

.cont-tarjeta-test:hover {
    transform: scale(0.98);
    box-shadow: 2px 2px 10px black;
}

.cont-tarjeta-test p,
.cont-principal-test p {
    font-size: 20px;
    color: #565D6DFF;
}

.cont-principal-test h2 {
    font-size: 40px;
}

.cont-principal-test {
    width: 371px;
    height: 283px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.cont-persona {
    display: flex;
    align-items: center;
}

.cont-persona h4 {
    font-size: 20px;
}

.cont-persona p {
    font-size: 15px;
}

.cont-mision-vision {
    padding: 50px 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
}

.cont-mision-vision .cont-contenido {
    width: 550px;
}

.cont-mision-vision .cont-contenido h2 {
    font-size: 48px;
}

.cont-mision-vision .cont-contenido span h3 {
    display: inline;
    padding-left: 20px;
    font-size: 25px;
}

.cont-mision-vision .cont-contenido p {
    max-width: 450px;
    padding-left: 38px;
    color: #565D6D;
    font-size: 18px;
}

.cont-img-principal {
    width: 525px;
    height: 465px;
    background-image: url("/img/img-mision.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;

}

.check-circle {
    color: #FCBF83;
}

.cont-mision-vision .cont-contenido {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.nav-cel {
    display: none;
}

@media (max-width: 600px) {

    .img {
        width: 100%;
        height: 474px;

        background:
            linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
            url("/img/img-fondo2.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        align-items: center;
    }

    .img p,
    .img h2 {
        margin-left: 0;
    }


    .img h2 {
        color: white;
        font-size: 10vw;
    }


    .img .h2-2 {
        margin-bottom: 0;
    }

    .img .p-1 {
        width: 100vw;
        padding: 5px 10px;
        align-self: flex-start;
        margin-left: 3vw;
    }

    .img .p-2 {
        margin-top: 20px;
        text-align: center;
        font-size: 4vw;
    }

    header {
        position: static;
    }

    .btn-nav {
        display: none;
    }

    .nav {
        position: fixed;
        display: flex;
        bottom: 0;
        width: 100%;
        background-color: white;
        height: 70px;
        justify-content: space-around;
        align-items: center;
        z-index: 100;
    }

    .fondo-nav-cel {
        width: 100%;
        height: 70px;
    }

    .fondo-nav {
        display: none;
    }

    header {
        height: 7vh;
    }

    .titulo-nav,
    .icon-nav {
        font-size: 7vw;
    }

    header {
        align-self: center;
    }

    .tarjeta {
        width: 70vw;
        height: 40vh;
    }

    .img-1,
    .img-4 {
        display: none;
    }

    .cont-btn-main {
        margin-top: 2vh;
        justify-content: space-between;
        gap: 10px;
        margin-left: 0;
    }

    .img button {
        width: 30vw;
        font-size: 3vw;
        padding: 3vw 2vh;
    }

    .cont-destacadas .titulo-principal {
        font-size: 10vw;
    }

    .cont-destacadas .parrafo-principal {
        width: 90vw;
        margin: 0 auto;
        font-size: 5vw;
        line-height: 3vh;
    }

    .cont-carrusel h2 {
        font-size: 10vw;
    }

    .cont-carrusel p {
        font-size: 5vw;
    }

    footer {}

    footer .cont-principal {
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 650px;
        gap: 50px;
    }

    .cont-logo {
        width: 100%;
    }

    .cont-logo p {
        text-align: center;
    }

    .cont-nav,
    .cont-contacto,
    .cont-redes {
        align-self: flex-start;
        margin-left: 2vw;
        gap: 15px;
    }

    .cont-derechAutor {
        margin-top: 5px;
        justify-content: center;
        height: 55px;
    }

    .cont-derechAutor span {
        margin: 0;
    }

    .cont-mision-vision {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .cont-mision-vision .cont-contenido {
        width: 85vw;
    }

    .cont-mision-vision .cont-contenido h2 {
        font-size: 10vw;
        text-align: center;
    }

    .cont-mision-vision .cont-contenido p {
        width: 75vw;
        font-size: 4vw;
    }

    .cont-mision-vision .cont-contenido span h3 {
        font-size: 6vw;
    }

    .cont-img-principal {
        width: 90vw;
        height: 45vh;
        background-image: url("/img/img-mision-2.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

@keyframes carrusel-img2 {
    0% {
        background-image: url("/img/img-dog.png");
    }

    100% {
        background-image: url("/img/visily-image.png");
    }
}

@keyframes carrusel-img3 {
    0% {
        background-image: url("/img/img-dog2.png");
    }

    100% {
        background-image: url("/img/img-dog-3-2.png");
    }
}